@charset "utf-8";
/* CSS Document */
body,h1{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #006600;
}
.sayfa{
	width: 960px;
	margin: 5px auto;
}
#logo{
	float: left;
	color:whitesmoke;
	font-size: 23pt;
	font-family: Verdana;
	font-weight: bolder;
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 10px;
	background-color: #A9A9A9;
}
 
#menu{
	float: left;
	list-style: none;
}
#menu li{
	float: left;
}
#menu li a{
	text-decoration: none;
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 14pt;
}
#menu li a:hover{
	background-color: #A9A9A9;
	border-radius: 10px;
}
 
#icerik{
	background-color: aliceblue;
 
}
#galeri img{
	height: 300px;
	width: 940px;
	margin: 10px 10px;
}
 
.yazi{
	width: 300px;
	float: left;
	background-color: #006400;
	margin-left: 15px;
	margin-bottom: 30px;
}
.yazi h1{
	color: whitesmoke;
	margin-left: 10px;
}
 
.yazi p{
	text-indent: 20px;
	text-align: justify;
	margin: 10px;
}
.temizle{
	clear: both;
}